#div {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  padding: 20px;
}

#div img {
  max-width: 100%;
  margin-top: 0%;
}

#ft {
  flex: 1;
  text-align: justify;
  text-justify: inter-word;
}

@media screen and (max-width: 423px) {
  nav {
    flex-direction: column;
    align-items: center;
  }

  #div {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

#ad {
  color: blue;
  font-size: 1.5rem;
}

#scl {
  font-size: 1.5rem;
  color: green;
}

#clz {
  font-size: 1.5rem;
  color: red;
}

#aaa {
  margin-left: 2%;
  padding: 20px;
}

button {
  margin-top: 10px;
}

#center {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 428px) {
  #center {
    display: flex;
    flex-direction: column;
  }
}
